<div id='page_wrapper'>
	<div id='profile_image'>
		<%= image_tag 'profile.jpeg' %>
	</div>

	<div id='content'>
		<h1>Hi I'm User</h1>
		<p>An algorithm is a procedure for solving a problem in terms of the actions to be executed and the order in which those actions are to be executed. An algorithm is merely the sequence of steps taken to solve a problem. The steps are normally "sequence," "selection, " "iteration," and a case-type statement.


		In C, "sequence statements" are imperatives. The "selection" is the "if then else" statement, and the iteration is satisfied by a number of statements, such as the "while," " do," and the "for," while the case-type statement is satisfied by the "switch" statement.</p>
	</div>
</div>